<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Deteksi dan Segmentasi Objek Berbahaya dalam Citra X-ray Barang Penumpang Menggunakan YOLOV8</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://kit.fontawesome.com/5b68db9e8c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h2 class="mt-5 text-center">Sistem Deteksi dan Segmentasi Objek Berbahaya dalam Citra X-ray Barang Penumpang</h2>

            <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST" class="mt-5">
                {% if type == "video" %}
                    <label for="uploadMedia" class="btn btn-dark px-3"><i class="fa-solid fa-upload me-2"></i> Upload File</label>
                    <inpu id="uploadMedia" name="uploadedMedia" type="file" accept="image/png, image/jpg, video/mp4" onchange="form.submit()" class="form-control" onclick="endVideo()" hidden />
                {% else %}
                    <label for="uploadMedia" class="btn btn-dark px-3"><i class="fa-solid fa-upload me-2"></i> Upload File</label>
                    <input id="uploadMedia" name="uploadedMedia" type="file" accept="image/png, image/jpg, video/mp4" onchange="form.submit()" class="form-control" hidden />
                {% endif %}
            </form>

            {% if result %}
                {% if type == "image" %}
                    <img src="{{url_for('static', filename='images/' + result)}}" class="w-50 my-4">
                {% elif type == "video" %}
                    <video id="resultVid" class="w-75 my-3" controls>
                        <source src="{{url_for('static', filename='images/' + result)}}" type="video/webm">
                        Browser Anda tidak support penampilan video.
                    </video>
                {% endif %}
            {% else %}
                <img src="{{url_for('static', filename='images/none_result.jpg')}}" class="w-50 my-4">
            {% endif %}
        </div>
    </div>

    <script>
        let vid = document.getElementById("resultVid");
        
        function endVideo() { 
          vid.currentTime=vid.duration;
        } 
    </script> 
</body>
</html>