<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Deteksi dan Segmentasi Objek Berbahaya dalam Citra X-ray Barang Penumpang Menggunakan YOLOV8</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="mt-5 text-center">Sistem Deteksi dan Segmentasi Objek Berbahaya dalam Citra X-ray Barang Penumpang Menggunakan YOLOV8</h1>

            <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST" class="mt-3">
                {% if type == "video" %}
                    <input name="uploadedMedia" type="file" accept="image/png, video/mp4" onchange="form.submit()" class="form-control" onclick="endVideo()" />
                {% else %}
                    <input name="uploadedMedia" type="file" accept="image/png, video/mp4" onchange="form.submit()" class="form-control" />
                {% endif %}
            </form>

            {% if result %}
                {% if type == "image" %}
                    <img src="{{url_for('static', filename='images/' + result)}}" class="w-50 my-5">
                {% elif type == "video" %}
                    <video id="resultVid" class="w-75 my-3" controls>
                        <source src="{{url_for('static', filename='images/' + result)}}" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <script>
        let vid = document.getElementById("resultVid");
        
        function endVideo() { 
          vid.currentTime=vid.duration;
        } 
    </script> 
</body>
</html>